@using Models
@using Servicos
@model Models.Equipe

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Equipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Pessoa" class="control-label">Selecione os Colaboradores</label><br/>
                @foreach (var pessoa in await BuscaPessoa.BuscarTodasPessoas())
				{
					<input name="adicionarPessoa" type="checkbox" value=@pessoa.Nome>
					<label for="@pessoa.Nome"> @pessoa.Nome</label><br />
				}
            </div>


            <div class="form-group">
				</> <label asp-for="Cidade" class="control-label">Selecione a Cidade</label><br />

				
				<select asp-for="Cidade" id="Cidade">
					@foreach (Cidade cidade in await BuscaCidade.BuscarTodasCidades())
					{
						<option value="@cidade.Nome"> @cidade.Nome </option>
					}
				</select>
			</div>
            
            <div class="form-group">
                <input type="submit" value="Salvar Alteração" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancelar e Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}