@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Seja Bem Vindo</h1>
	<h2>Escolha a opção desejada:</h2>
	<ul class="navbar-nav flex-grow-1">
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Cidades" asp-action="Index">Cadastrar Cidades</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Pessoas" asp-action="Index">Cadastrar Pessoas</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Equipes" asp-action="Index">Cadastrar Equipes</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Cadastrar Usuarios</a>
		</li>
	</ul>
</div>